<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>messages like material design - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
    <div class="tile tile-alt" id="messages-main">
        <div class="ms-menu">
            <div class="ms-user clearfix">
                <img src="@ViewBag.Contact.imgUrl" alt="" class="img-avatar pull-left">
                <div>@ViewBag.Contact.fullName<br>@ViewBag.Contact.userName</div>
            </div>     
            <div class="p-15">
                <div class="dropdown">
                    <a class="btn btn-primary btn-block" href="" id="main_dropdown" data-toggle="dropdown">Rehber <i class="caret m-l-5"></i></a>
    
                    <ul class="dropdown-menu dm-icon w-100">
                        <li><a href=""><i class="fa fa-users"></i>Rehber</a></li>
                        <li><a href=""><i class="fa fa-envelope"></i>Mesajlar</a></li>
                        <li><a href="/Account/LogOut"><i class="fa fa-close"></i> Çıkış</a></li>
                    </ul>
                </div>
            </div>
                   
            @RenderBody()
            <div class="list-group lg-alt" id="list-group">
                @foreach (var user in ViewBag.Users)
                {
                    <a class="list-group-item media" userid="@user.id" fullName="@user.fullName" onclick="tridiLib.toUserClick(this)">
                    <div class="pull-left">
                        <img src="@user.imgUrl" alt="" class="img-avatar">
                    </div>
                    <div class="media-body">
                        <small class="list-group-item-heading">@user.fullName</small>
                    </div>
                </a>
                }
            </div>
    
            
        </div>
        
        <div class="ms-body">
            <div class="action-header clearfix">
                <div class="visible-xs" id="ms-menu-trigger">
                    <i class="fa fa-bars"></i>
                </div>
                
                <div class="pull-left hidden-xs" id="toUser">
                </div>
                 
                <ul class="ah-actions actions">
                    <li>
                        <a onclick="">
                            <i class="fa fa-refresh"></i>
                        </a>
                    </li>
                </ul>
            </div>
    
            <div id="msb-reply"  class="msb-reply">
                <textarea placeholder="What's on your mind..."></textarea>
                <button><i class="fa fa-paper-plane-o"></i></button>
            </div>
        </div>
    </div>
</div>

<style type="text/css"></style>

<script type="text/javascript">
$(function(){
   if ($('#ms-menu-trigger')[0]) {
        $('body').on('click', '#ms-menu-trigger', function() {
            $('.ms-menu').toggleClass('toggled'); 
        });
    }
    $('#msb-reply').hide();

});



</script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
